header, section, footer, aside, nav, article, figure, figcaption
{
    display: block;
}

html
{
    background-color: black;
}

body {
    color: #777777;
    line-height: 1.4em;
    margin: 0px;
    bottom: 0px;
}

.wrapper
{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

header {
    height: 200px;
    background-image: url('../../Content/img/Logo/LogoWide.png');
    background-repeat: no-repeat;
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 5;
}

h1
{
    text-indent: -9999px;
    width: 100%;
    height: 130px;
    margin: 0px;
}

h2
{
    color: black;
    text-align: left;
    margin-left: 15px;
    font-size: 35px;
}

nav {
    clear: both;
    color: white;
    background-color: rgb(80,80,80);
    height: 40px;
    top: 160px;
    position: relative;
    border-bottom: 4px solid #7f0000;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, .7);
    width: 100%;
    z-index: 5;
}

footer
{
    height: 20px;
    font-size: 12px;
    background-color:  black;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 150;
}

nav ul
{
    display: block;
    margin-top: 0px;
    padding: 5px 0px 5px 0px;
    float: left;
    min-width: 80px;
    width: 10%;
    height: 30px;
    text-align: center;
    z-index: 5;
}

nav ul:hover
{
    background-color: darkgray;
    border-bottom: 4px solid red;
}

#current {
    background-color: rgb(90, 90, 90);
    border-bottom: 4px solid red;
    height: 35px;
}

#current a
{
    color: black;
}

.login {
    display: block;
    margin-top: 0px;
    padding: 5px 0px 5px 0px;
    float: left;
    min-width: 80px;
    width: 10%;
    height: 30px;
    text-align: center;
    float: right;
}

.login:hover {
    background-color: rgb(100, 100, 100);
    border-bottom: 4px solid red;
}
#current:hover {
    background-color: rgb(100, 100, 100);
    border-bottom: 4px solid red;
}

#current:hover a
{
    color: white;
}

nav a
{
    text-decoration: none;
    color: white;
}

.headerpic
{
    top: -150px;
    padding-top: 23px;
    margin-left: 0px;
    width: 100%;
    z-index: 0;
}

.picturesbottom {
    background-color: rgb(80,80,80);
    border-top: 4px solid #7f0000;
    width: 110%;
    top: -310px;
    margin-left: -15px;
    height: 35px;
    position: relative;
    box-shadow: 0px -10px 5px rgba(0, 0, 0, .7);
    z-index: 5;
}

.mainbottom {
    background-color: rgb(80,80,80);
    border-bottom: 4px solid #7f0000;
    width: 110%;
    top: -310px;
    margin-left: -15px;
    height: 35px;
    position: relative;
    z-index: 5;
}

main
{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    padding: 15px;
    bottom: 0px;
}

hr
{
    width: 98%;
    margin-left: .1%;
    border-top: 1px solid black;
    color: black;
    background-color: black;
}
p
{
    font-size: 20px;
    text-emphasis: 1px;
    width: 98%;
    padding: 5px;
    color: black;
}
.this
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

td
{
    border: 2px solid darkgray;
    padding: 4px;
    width: 4%;
    height: 20%;
}

.field
{
    margin-right: 100%;
}

.query
{
    width: 150px;
    position: relative;
    float: left;
    font-size: 15px;
}

input
{
    padding: 1.5px;
}

.imgholder
{
    position: relative;
    left: -15px;
    top: -240px;
}

.blocker
{
    position: relative;
    background-color: lightgray;
    top: -330px;
    bottom: auto;
    left: -15px;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.mainstuff {
    position: relative;
    color: white;
    background-color: darkgray;
    padding: 5px;
    top: 20px;
    width: 100%;
    height: 100%;
    z-index: 5;
}


p
{
    padding: 10px;
    font-size: 24px;
    margin-left: 15px;
}

#grid
{
    width: 90%;
    left: auto;
    right: auto;
}